.hero-section {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0 20px;
}

.hero-section h2 {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 2rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.9);
}

.gallery-section {
    padding: 30px 20px;
    background-color: #ffffff;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.gallery-section h2 {
    color: #000;
    text-align: center;
    font-size: 3rem;
}

.gallery-item {
    max-width: 550px;
    text-align: center;
}

.gallery-image {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.image-description {
    margin-top: 10px;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

.info-section {
    padding: 30px 20px;
    background: linear-gradient(45deg, #222, #555);
    opacity: 0.9;
}

.info-section h2 {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-section p {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    margin: 10px 0;
}

.info-section img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {

    .hero-section h2{
        font-size: 2.5rem;
    }

    .hero-section p{
        font-size: 2rem;
    }

    .gallery-section h2{
        font-size: 2rem;
    }

    .info-section h2{
        font-size: 2rem;
    }

    .info-section p{
        font-size: 1.3rem;
    }

    .gallery-image{
        width: 350px;
        height: auto;
    }

}
